{% extends 'base.html' %}
{% load static %}


{% block extend_head %}

{% endblock %}


{% block content %}

<h3>tree_house manage transaction</h3>

<div class="container">

  <form id="basicform" method="POST" action="/admin-dashboard/manage-transaction/{{transaction_id}}//">
    {% csrf_token %}

    <label for="memo">Reason</label>
    {{form.processing_cancellation_note}}


   {{form.form_label}}
   <button type="submit">Send</button>
 </form>

</div>

{% endblock %}


{% block extend_footer %}

{% endblock %}