{% extends 'chrev/elements/layouts/admin.html' %}
{% load static widget_tweaks %}


{% block additional_css %}

{% endblock %}

{% block message %}
{% include 'chrev/elements/alert.html' %}
{% endblock %}

{% block content %}

       <div class="row justify-content-center h-100 align-items-center">
          <div class="col-xl-12 col-lg-12">
             <div class="card">
                <div class="card-header">
                   <h4 class="card-title">New Company Form</h4>
                </div>
                <div class="card-body">
                   <div class="basic-form">
                      <form  method="post" enctype="multipart/form-data" novalidate autocomplete="off">
                         {% csrf_token %}
                         <div class="row">


                           <div class="mb-3 col-md-4 custom-user">
                              <label class="form-label">Title</label>
                               {{ form.title|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:Company title" }}
                               <div class="text-danger w-100 d-block mt-1">
                               {{ form.title.errors }}
                               </div>
                           </div>
                            <div class="mb-3 col-md-4 custom-user">
                               <label class="form-label">Main User {% if form.user.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                               {{ form.user|attr:"class:form-control from-height-1 default-select wide" }}
                               <div class="text-danger w-100 d-block mt-1 ">
                               {{ form.user.errors }}
                               </div>
                            </div>
                            <div class="mb-3 col-md-4 custom-user">
                              <label class="form-label">Linked users {% if form.linked_users.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                              {{ form.linked_users|attr:"class:form-control from-height-1 default-select wide" }}
                              <div class="text-danger w-100 d-block mt-1 ">
                              {{ form.linked_users.errors }}
                              </div>
                            </div>
                        </div>
                         <button type="submit" class="btn btn-secondary mt-4 mb-5 ">Save</button>
                         <a href="{% url 'users:companies' %}" class="btn btn-primary mt-4 mb-5">Cancel</a>
                      </form>
                   </div>
                </div>
             </div>
          </div>
       </div>



{% endblock %}


{% block additional_js %}


{% endblock %}


